.spinner  {
text-align: center;
font-size: 10px;
width: 60px;
height: 60px;
position: absolute;
top: 0;
left: 0;
bottom: 60px;
right: 0;
margin: auto;
}

.spinner > div {
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}



.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

body{
 /*   background-color: #1abc9c; */
       background: url(../images/hud.jpg);
}
.loadingText{
text-align: center;
    /* width: 60px; */
    height: 0px;
    position: absolute;
    top: 30px;
    left: 0;
    bottom: 12px;
    right: 0;
    margin: auto;
}
p, h2, label {
 /*   color: #e2e2e1;*/
    color: #f7f7f7;
}
a{
    color: #e2e2e1;
    text-decoration: underline;
}
a:focus, a:hover{
    color: white;
}
.welcomeText{
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.welcomeText h2, .welcomeText p, .welcomeText form{
text-align: center;
}

input{
        margin: 8px;
}
