/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-Mar-2017, 12:29:06
    Author     : shumdp3
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #7bb2ad;;
 /* overflow: hidden;*/
}
a{
    color: #29bcb2;
}
.link{
    color: #C9FEFA;
}
ul{
    padding: 0;
}


/* Dropdown Button */
.dropbtn {
    background: none;
    padding: 15px;
    border: none;
    cursor: pointer;
    color: #29bcb2;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F7F7F7;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #29bcb2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: #333;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */


.nudge{
        margin-left: 5%;
}
.nudge p{
            color: white;
}
label{
    font-weight: 400;
    color: white;
    margin-bottom: 12px;
}
input[type=checkbox], input[type=radio] {
    margin-left: 4px;
}
#index-background{   
    background: url(../images/owl.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
    height: 91vh;
} 

#all-subs-background{
    height: 100%;
    min-height: 100vh;
    background: url(../images/background12.jpg) no-repeat center center fixed;
  /* background-color: #E9E9E9; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}  
.list-details{
    font-size: 20px;
}
.navbar-default {
    background-color: #F7F7F7;
    border-color: #F7F7F7;
    border-bottom: solid 1px #9F9F9F;
    /*background-color: #333333;
    border-color: #333333;*/
}
.navbar-default .navbar-nav>li>a {
    color: #29bcb2;
}
#index-welcome{
    color: white;
    margin-top: 300px;
}
#info-text{
   color: white; 
}
.info-icon{
    width: 50%;
}
h1{
   font-size: 50px; 
}
h2{
    font-size: 30px;
    margin-left: 5%; 
    /*margin-left: 70px;*/
    padding-top: 4%;
    margin-top: 0;
        color: #f7f7f7;
        font-weight: 500 !important;
        
/*    padding-left: 50px;*/
}
h2.welcome{
    margin-left: 0;
    padding-top: 0;
}

li{
    list-style-type: none;
}
nav li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    
}
/*header*/
header{
    background-color: #005EC2;
    padding: 10px;
    display: inline-block;
    width: 100%;
}
header h1{
    margin: 0;
    color: white;
    display: inline-block;
    margin-left: 20px;
}

header a{
    color:white;
}
header a:hover{
    color:#b9d6ef;
}
#logged-in-li{
    right: 0px;
    position: absolute;
    top: 0px;
}
#demo {
position: relative;
max-width: 100%;
width: 100%;
margin-bottom: 150px; /* gives space from footer */
}
img {
width: 100%;
max-width: 100%;
height: auto;
}
.img-details{
    padding-right: 5%;
    
}
.img-fluid{
    border: solid 6px white;
}
.text-details{
    padding-left: 5% !important;
    color: #f7f7f7;    
    margin-bottom:20px;
}
.success{
    color: #f7f7f7;   
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.note{ 
    text-align: center;
}
.white-panel {
position: absolute;
background: white;
box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
padding: 10px;
}
.white-panel h1 {
font-size: 1em;
}
.white-panel h1 a {
color: #A92733;
}
.white-panel:hover {
box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
margin-top: -5px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.navbar {
    border-radius: 0px;    
    margin-bottom: 0px !important;
}
.footer{    
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
    
}
.footer p{
        position: relative;
        text-align: center;
        margin-top: 11px;
}
#map {
    height: 500px;
    margin-left: auto;
    width: 90%;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 150px;
    border: solid 6px white;
}
#form{
    display: none;
}

iframe{
        margin-bottom: 5%;
        border: 2px solid white;
}








@media (max-width: 992px) {

#index-welcome{
            margin-top: 100px;
}
#all-subs-background{
  background: #7bb2ad;
}
.img-details {
    padding-right: 5%;
    padding-left: 5%;
}
}

@media (max-width: 767px) {

#logged-in-li{
    position: inherit;
    text-align: right;
}
 .dropdown-content {
    position: initial;
    text-indent: 20%;
 }
}
@media (max-width: 992px) and (orientation: landscape){
    
#index-welcome{
        width: 33%;
        margin-top: 60px;
    }
}
@media (max-width: 992px) and (orientation: portrait){
    
#index-welcome{
        width: 80%;
    }
}
 
